@media screen and (min-width:721px){
#sticky{display:none;visibility:hidden}
}
@media screen and (max-width:720px){
#sticky{display:block;position:fixed!important;text-align:center;left:0;right:0;bottom:0;margin:0 auto;width:100%;min-height:0;z-index:9999}
.close-sticky{line-height:14px}
a#close-sticky{background:#f00;color:#fff;font-size:11px;padding:1px 4px;font-weight:bold}
}
